[Unit]
Description=Auto Suspend Service
After=suspend.target

[Service]
Type=simple
User=%i
WorkingDirectory=/home/%i/opt/steam-remote-play-linux
ExecStart=/usr/bin/env ./auto_suspend.sh

[Install]
WantedBy=suspend.target
