[Unit]
Description=Auto Suspend Service
After=suspend.target

[Service]
Type=simple
WorkingDirectory=/%h/opt/steam-remote-play-linux
ExecStart=/usr/bin/env ./auto_suspend.sh

[Install]
WantedBy=default.target
